src/main/resources/com/thalesgroup/hudson/plugins/klocwork/model/xsd/klocwork-9.6.xsd.temp

<?xml version="1.0" encoding="UTF-8"?>
<!--
/*******************************************************************************
* Copyright (c) 2011 Thales Corporate Services SAS                             *
* Author : Aravindan Mahendran                                                 *
*                                                                              *
* Permission is hereby granted, free of charge, to any person obtaining a copy *
* of this software and associated documentation files (the "Software"), to deal*
* in the Software without restriction, including without limitation the rights *
* to use, copy, modify, merge, publish, distribute, sublicense, and/or sell    *
* copies of the Software, and to permit persons to whom the Software is        *
* furnished to do so, subject to the following conditions:                     *
*                                                                              *
* The above copyright notice and this permission notice shall be included in   *
* all copies or substantial portions of the Software.                          *
*                                                                              *
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR   *
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,     *
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE  *
* AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER       *
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,*
* OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN    *
* THE SOFTWARE.                                                                *
*******************************************************************************/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://www.klocwork.com/inForce/report/1.0"
           xmlns:tag="http://www.klocwork.com/inForce/report/1.0">

    <!-- Type used for severitylevel tag -->
    <xs:simpleType name="oneToTen96">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Type used for "type" attribute in traceLine tag -->
    <xs:simpleType name="typeAttributeValue96">
        <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="C"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Type used for citingStatus tag and "status" attribute in statusUpdate tag-->
    <xs:simpleType name="citingStatusValue96">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Analyze"/>
            <xs:enumeration value="Ignore"/>
            <xs:enumeration value="Not a Problem"/>
            <xs:enumeration value="Fix"/>
            <xs:enumeration value="Fix in Next Release"/>
            <xs:enumeration value="Fix in Later Release"/>
            <xs:enumeration value="Defer"/>
            <xs:enumeration value="Filter"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="stateValue96">
        <xs:restriction base="xs:string">
            <xs:enumeration value="New"/>
            <xs:enumeration value="Existing"/>
            <xs:enumeration value="Not in scope"/>
            <xs:enumeration value="Fixed"/>
            <xs:enumeration value="Recurred"/>
        </xs:restriction>
    </xs:simpleType>


    <!-- Mandatory tags -->
    <xs:element name="problemID96" type="xs:int"/>
    <xs:element name="file96" type="xs:string"/>
    <xs:element name="method96" type="xs:string"/>
    <xs:element name="code96" type="xs:string"/>
    <xs:element name="message96" type="xs:string"/>
    <xs:element name="severity96" type="xs:string"/>
    <xs:element name="severitylevel96" type="tag:oneToTen"/>
    <xs:element name="displayAs96" type="xs:string"/>
    <xs:element name="citingStatus96" type="tag:citingStatusValue"/>
    <xs:element name="state96" type="tag:stateValue"/>
    <xs:element name="url96" type="xs:string"/>

    <!-- Optional tags -->
    <xs:element name="comment96" type="xs:string"/>

    <xs:element name="lastCommitter96" type="xs:string"/>

    <xs:element name="traceLine96">
        <xs:complexType>
            <xs:attribute name="line" type="xs:int"/>
            <xs:attribute name="text" type="xs:string"/>
            <xs:attribute name="type" type="tag:typeAttributeValue"/>
            <xs:attribute name="refId" type="xs:int" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="traceBlock96">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element ref="tag:traceLine96"/>
            </xs:sequence>
            <xs:attribute name="file" type="xs:string"/>
            <xs:attribute name="method" type="xs:string"/>
            <xs:attribute name="id" type="xs:int"/>
            <xs:attribute name="name" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="trace96">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element ref="tag:traceBlock96"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="dateFixed96" type="xs:long"/>

    <xs:element name="statusUpdate96">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tag:comment96" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="user" type="xs:string"/>
            <xs:attribute name="status" type="tag:citingStatusValue"/>
            <xs:attribute name="timestamp" type="xs:long"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="history96">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element ref="tag:statusUpdate96"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="owner96" type="xs:string"/>

    <xs:element name="taxonomy96">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="metaInf" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="taxonomies96">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element ref="tag:taxonomy96"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Main tags -->
    <xs:element name="problem96">
        <xs:complexType>
            <xs:all>
                <xs:element ref="tag:problemID96"/>
                <xs:element ref="tag:file96"/>
                <xs:element ref="tag:method96"/>
                <xs:element ref="tag:code96"/>
                <xs:element ref="tag:message96"/>
                <xs:element ref="tag:severity96"/>
                <xs:element ref="tag:severitylevel96"/>
                <xs:element ref="tag:displayAs96"/>
                <xs:element ref="tag:citingStatus96"/>
                <xs:element ref="tag:owner96" minOccurs="0"/>

                <xs:element ref="tag:state96" minOccurs="0"/>
                <xs:element ref="tag:url96" minOccurs="0"/>


                <xs:element ref="tag:comment96" minOccurs="0"/>
                <xs:element ref="tag:history96" minOccurs="0"/>
                <xs:element ref="tag:trace96" minOccurs="0"/>
                <xs:element ref="tag:dateFixed96" minOccurs="0"/>
                <xs:element ref="tag:taxonomies96" minOccurs="0"/>


            </xs:all>
            <xs:attribute name="refID" type="xs:int" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="errorList96">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="tag:problem96"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
